<!--[if lt IE 10]>
<script type="text/javascript">
  location.href = '/browser.html';
</script>
<![endif]-->

<div class="header">
  <div class="item">
    <a href="index.html"><img src="assets/img/logo.png"> 乐吾乐UI</a>
  </div>
  <div class="item">
    <a href="go.html">开始</a>
  </div>
  <div class="item active">
    <a href="component.html">组件</a>
  </div>
  <div class="item">
    <a href="custom.html">定制</a>
  </div>
  <div class="item full ph10">
    <div class="input container" style="max-width: 3rem">
      <input placeholder="仅提供样式，不支持搜索">
      <i class="iconfont icon-search right"></i>
    </div>
  </div>
  <div class="item sign">
    <div class="user">
      <span style="padding: 0 .08rem">
        <img src="assets/img/user.jpg">
        <label>小乐</label>
        <i class="iconfont icon-triangledown"></i>
      </span>
      <div class="dropdown">
        <div class="item">
          <a>我的主页</a>
        </div>
        <div class="item">
          <a>退出</a>
        </div>
      </div>
    </div>
  </div>
</div>
