<div class="tree fixed">
  <div class="item">
    <a href="component.html">
      <i class="iconfont icon-triangledown"></i>
      常用

      <div class="item">
        <a href="component.html">
          <i class="iconfont icon-angle-right"></i>
          按钮
        </a>
      </div>

      <div class="item">
        <a href="component-page-header.html">
          <i class="iconfont icon-angle-right"></i>
          页面header
        </a>
      </div>

      <div class="item">
        <a href="component-panel.html">
          <i class="iconfont icon-angle-right"></i>
          panel
        </a>
      </div>

      <div class="item">
        <a href="component-footer.html">
          <i class="iconfont icon-angle-right"></i>
          footer
        </a>
      </div>

      <div class="item">
        <a href="component-box.html">
          <i class="iconfont icon-angle-right"></i>
          box
        </a>
      </div>

      <div class="item">
        <a href="component-modal.html">
          <i class="iconfont icon-angle-right"></i>
          modal
        </a>
      </div>

      <div class="item">
        <a href="component-dropdown.html">
          <i class="iconfont icon-angle-right"></i>
          dropdown
        </a>
      </div>

      <div class="item">
        <a href="component-tree.html">
          <i class="iconfont icon-angle-right"></i>
          tree
        </a>
      </div>

      <div class="item">
        <a href="component-table.html">
          <i class="iconfont icon-angle-right"></i>
          table
        </a>
      </div>
    </a>
  </div>

  <div class="item">
    <a href="component-input.html">
      <i class="iconfont icon-triangledown"></i>
      输入

      <div class="item">
        <a href="component-input.html">
          <i class="iconfont icon-angle-right"></i>
          input
        </a>
      </div>

      <div class="item">
        <a href="component-checkbox.html">
          <i class="iconfont icon-angle-right"></i>
          checkbox、ui-switch
        </a>
      </div>

      <div class="item">
        <a href="component-cell.html">
          <i class="iconfont icon-angle-right"></i>
          cell
        </a>
      </div>
    </a>
  </div>
</div>
