# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
**debug.log
typings/
aot/
aot-dist/
src/**/*.js.map
src/**/*.js

