.nav {
  line-height: 1;
  font-weight: 500;

  & > a {
    display: inline-block;
    &:after {
      font-family: "iconfont" !important;
      content: "\e6a8";
      margin-left: 0.1rem;
      margin-right: 0.05rem;
      color: $color-gray;
    }

    &:last-child:after {
      content: "";
    }
  }

  & > label {
    color: $color-title;
  }
}

.nav-tab {
  display: flex;
  border-bottom: 1px solid $color-border;
  flex-wrap: wrap;

  .full {
    flex: 1;
    width: initial !important;
  }

  & > .item {
    line-height: 0.4rem;
    margin-left: 0.2rem;
    position: relative;
    top: 1px;
    text-align: center;

    a {
      display: inline-block;
    }

    &:hover {
      color: $color-primary !important;
    }

    &:last-child {
      border-right: none;
    }

    &.active {
      color: $color-title;
      border-bottom: 2px solid $color-primary;
      font-weight: 700;
    }
  }

  &.default {
    border-bottom: none;

    .item {
      border: 1px solid $color-border;
      padding: 0.03rem 0.15rem;
      flex-grow: inherit;
      border-radius: 0.04rem 0.04rem 0 0;
      margin-left: 0;
      margin-right: 0.03rem;
      background-color: #f9f9f9;
      color: #89949b !important;
      line-height: 0.26rem;

      &:hover,
      a:hover {
        color: $color-primary !important;
      }

      &.active {
        border-bottom: none;

        &,
        a {
          background-color: #fff;
          color: $color-primary !important;
        }
      }
    }
  }
}
