@keyframes rightFadeIn {
  0% {
    right: -3.7rem;
  }

  50% {
    right: -1rem;
  }

  100% {
  }
}

@keyframes bkFadeOut {
  0% {
  }

  70% {
    opacity: 0.3;
  }

  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.notice-container {
  display: flex;
  flex-direction: column;
  z-index: $notice-z-index;
  position: fixed;
  top: 0.1rem;
  right: 0.1rem;
}

.system-container {
  display: flex;
  flex-direction: column;
  z-index: $notice-z-index + 1;
  position: fixed;
  top: 0.1rem;
  left: calc(50vw - 5rem);
}

.notice {
  position: relative;
  width: 3.5rem;
  border-radius: 0.05rem;
  border: 1px solid $color-border;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  margin-bottom: 0.1rem;
}

.notice.in {
  animation-duration: $notice-in-duration;
  animation-name: rightFadeIn;
  animation-timing-function: ease-in;
}

.notice.out {
  animation-duration: $notice-out-duration;
  animation-name: bkFadeOut;
  animation-timing-function: ease-out;
}

.notice .body {
  padding: 0.2rem;
  display: flex;
  word-break: break-all;
  word-break: break-word;
}

.notice .body > .icon {
  flex-shrink: 0;
  font-size: 0.18rem;
  margin-right: 0.2rem;
  color: #fff;
  background: $color-primary;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  text-align: center;
}

.notice .body > .icon::before {
  top: 0.03rem;
  position: relative;
}

.notice.success .body > .icon {
  background: $color-success;
  font-weight: 700;
}

.notice.warning .body > .icon {
  background: $color-warning;
}

.notice.error .body > .icon {
  background: $color-error;
}

.notice .body > .notice-text {
  width: 100%;
}

.notice .body > div {
  width: 100%;
}

.notice div.input {
  border: none;
  padding: 0;
}

.notice input {
  width: 100%;
  border: none;
  outline: none;

  color: $notice-input-color;
  text-align: $notice-input-text-algin;
  line-height: $notice-input-line-height;
}

.notice .icon-close {
  font-size: 0.14rem;
  padding: 0 0.07rem;
  position: absolute;
  top: 0.01rem;
  right: 0;
}

.notice .icon-close:hover {
  color: $color-primary;
}

.notice .modal-footer {
  background-color: #fff;
  padding: 0;
  display: flex;
  flex-grow: 1;
  border-color: $color-border;
}

.notice .modal-footer .button {
  border: none;
  border-radius: 0;
  background: transparent;
  color: $color-primary;
  margin: 0 !important;
  flex-grow: 1;
  line-height: 0.4rem;
}

.notice .modal-footer .button:hover {
  color: $color-primary-hover !important;
}

.notice .modal-footer .button.default {
  border-right: 1px solid $color-sub-border;
}

.notice-panel {
  line-height: 0.2rem;
  padding: 0.1rem 0.2rem;
}

.notice-panel.warning {
  background: #fff6dd;
  color: #d9a116;
}

.notice.system-notice {
  background-color: #fdf7d9;
  border-color: #f2ca00;
  color: #d9a116;
  width: 10rem;
  border-radius: 0;
}

.notice.system-notice.in {
  animation-name: none;
}

.notice.system-notice .body {
  padding: 0.1rem 0.2rem;
}

.notice.system-notice .body > .icon {
  display: none;
}

.notice.system-notice .icon-close {
  font-size: 0.14rem;
  padding: 0;
  position: static;
  line-height: 0.24rem;
}
