.panel {
  background-color: #fff;
  border: 1px solid $color-border;
  border-radius: 0.04rem;
}

.panel > .caption {
  font-size: 0.14rem;
  border-bottom: 1px solid $color-border;
}

.panel > .caption .button,
.panel > .caption .input {
  font-size: $font-size;
}

.panel > .content {
  padding: 0.1rem;
}

.panel > .bottom {
  padding: 0.05rem 0.1rem;
  border-top: 1px solid $color-lightgray;
}

.page-panel {
  background-color: #fff;
  padding: 0.2rem;
  border-top: 1px solid $color-lightgray;
}
