/* prettier-ignore */
$font-family: 'Hiragino Sans GB', Helvetica, 'microsoft yahei', '微软雅黑', SimSun, '宋体', Arial !default;
$font-size: 0.12rem !default;
$color: #6f787e !default;
$line-height: 2 !default;
$html-background: #f3f4f5 !default;
$color-primary: #26bbf0 !default;
$color-primary-hover: #1790bb !default;
$color-primary-disabled: #d4f1fc !default;
$color-success: #31bb67 !default;
$color-success-hover: #2ba664 !default;
$color-success-disabled: #c3f1d2 !default;
$color-warning: #ffbc0b !default;
$color-warning-hover: #d9a116 !default;
$color-warning-disabled: #fff6dd !default;
$color-error: #cc6164 !default;
$color-error-hover: #a9484b !default;
$color-error-disabled: #f7e6e7 !default;
$color-turquoise: #26bbf0 !default;
$color-turquoise-hover: #1790bb !default;
$color-turquoise-disabled: #d4f1fc !default;
$color-weixin: #50c332 !default;
$color-weixin-hover: #46ad2c !default;
$color-weixin-disabled: #caf7be !default;
$color-qq: #34c8f4 !default;
$color-qq-hover: #30b9e2 !default;
$color-qq-disabled: #c1e9f5 !default;
$color-weibo: #d81228 !default;
$color-weibo-hover: #e6162d !default;
$color-weibo-disabled: #f9d6da !default;
$color-url: #6f787e !default;
$color-url-hover: #26bbf0 !default;
$color-border: #dbdfe1 !default;
$color-sub-border: #f3f4f5 !default;
$color-input-border: #c4c9cd !default;
$color-input-border-hover: #26bbf0 !default;
$color-input-disabled: #f3f4f5 !default;
$color-gray: #c4c9cd !default;
$color-title: #343536 !default;
$color-desc: #9aa8b1 !default;
$color-placeholder: #ccc !default;
$color-lightgray: #dbdfe1 !default;
$color-button: #6f787e !default;
$color-button-hover: #3f4142 !default;
$color-button-disabled: #c4c9cd !default;
$color-button-border-disabled: #dbdfe1 !default;
$color-td: #f3f4f5 !default;
$color-button-border: #c4c9cd !default;
$color-button-border-hover: #9aa8b1 !default;
$color-th: #9aa8b1 !default;
$td-padding: 0.1rem 0.15rem !default;
$font-size-th: 0.1rem !default;
$table-padding: 0.15rem !default;
$modal-background-color: rgba(0, 0, 0, 0.3) !default;
$header-background-color: #343536 !default;
$header-height: 0.6rem !default;
$modal-header-padding: 0 0.2rem !default;
$modal-header-lineheight: 0.5rem !default;
$font-size-header: 0.15rem !default;
$font-size-header-small: 0.14rem !default;
$page-width: 10rem !default;
/* prettier-ignore */
$padding-list: (0, 5, 10, 15, 20, 30, 50);
$padding-unit: 0.01rem !default;
$box-width: 2rem !default;
$box-aspect-ratio: 0.64 !default;
$icon-box-width: 1rem !default;
$tree-indent: 0.1rem !default;
$input-padding: 0 0.1rem !default;
$input-line-height: 0.3rem !default;
$input-border-radius: 0.04rem !default;
$font-size-headline: 0.4rem !default;
$font-size-subheadline: 0.3rem !default;
$font-size-popup-title: 0.16rem !default;
$font-size-small: 0.1rem !default;
$font-size-title: 0.12rem !default;
$spin-duration: 1.8s !default;
$tooltip-background-color: #343536 !default;
$modal-max-width: 90% !default;
$modal-max-height: 80% !default;
$image-preview-height: 1rem !default;
$label-lineheight: 2 !default;
$label-padding: 0 0.1rem !default;

$notice-z-index: 1000000 !default;
$notice-color: #fff !default;
$notice-text-align: center !default;
$notice-font-size: 0.12rem !default;
$notice-in-duration: 0.2s !default;
$notice-out-duration: 1s !default;

$notice-input-color: #555 !default;
$notice-input-text-algin: center !default;
$notice-input-line-height: 2 !default;
