<footer>
  <div class="copyright mt5">
    Copyright© le5le。 <br>
    Email: alsmile123@qq.com
  </div>
</footer>
<script>
  var path = window.location.href.substring(window.location.href.lastIndexOf('/'));
  console.info(path)
</script>
