<div class="tree">
  <div class="item">
    <a href="/go.html">
      <i class="fa fa-television"></i>
      概况
    </a>
  </div>
  <div class="item">
    <a href="/go-layout.html">
      <i class="fa fa-caret-down"></i>
      布局
      <div class="item">
        <a href="/go-layout.html">
          <i class="fa fa-angle-right"></i>
          flex
        </a>
      </div>
    </a>
  </div>
  <div class="item active">
    <a >
      <i class="fa fa-caret-down"></i>
      组件
      <div class="item active">
        <a href="/go-button.html">
          <i class="fa fa-angle-right"></i>
          button
        </a>
      </div>
    </a>
  </div>
</div>
