<div class="tree fixed">
  <div class="item">
    <a href="go.html">
      <i class="iconfont icon-read"></i>
      开始
    </a>
  </div>
  <div class="item">
    <a href="go-layout.html">
      <i class="iconfont icon-list"></i>
      布局
    </a>
  </div>
  <div class="item">
    <a href="go-common.html">
      <i class="iconfont icon-file"></i>
      常用属性
    </a>
  </div>
</div>
