<div class="tree fixed">
  <div class="item">
    <a href="go.html">
      <i class="fa fa-television"></i>
      开始
    </a>
  </div>
  <div class="item">
    <a href="go-layout.html">
      <i class="fa fa-bars"></i>
      布局
    </a>
  </div>
  <div class="item">
    <a href="go-common.html">
      <i class="fa fa-cube"></i>
      常用属性
    </a>
  </div>
</div>
