<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="/assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - table</h2>

    <h3>使用</h3>
    <table>
      <tbody>
      <tr>
        <th>名称</th>
        <th>类型</th>
        <th>说明</th>
        <th>必需</th>
        <th>mock值</th>
      </tr>
      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.2rem;">
            </label>
            <label>text</label>
          </div>
        </td>
        <td>
          string
        </td>
        <td>
          测试接口返回字符串比较
        </td>
        <td class="nowarp">
          必需
        </td>
        <td>
          But&nbsp;what&nbsp;did&nbsp;he&nbsp;see
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.2rem;">

            </label>
            <label>num</label>
          </div>
        </td>
        <td>
          number
        </td>
        <td>
          测试接口返回数字比较
        </td>
        <td class="nowarp">
          必需
        </td>
        <td>
          31312
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.2rem;">

            </label>
            <label>bool</label>
          </div>
        </td>
        <td>
          boolean
        </td>
        <td>
          测试接口返回boolean比较
        </td>
        <td class="nowarp">
          必需
        </td>
        <td>
          true
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.2rem;">
              <i class="fa pr5 fa-caret-down"></i>
            </label>
            <label>obj</label>
          </div>
        </td>
        <td>
          object
        </td>
        <td>

        </td>
        <td class="nowarp">
          必需
        </td>
        <td>

        </td>
      </tr>

      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.4rem;">

            </label>
            <label>demo</label>
          </div>
        </td>
        <td>
          string
        </td>
        <td>

        </td>
        <td class="nowarp">
          必需
        </td>
        <td>
          duckling
        </td>
      </tr>

      <tr>
        <td>
          <div class="flex middle">
            <label class="nowarp text-right" style="width: 0.2rem;">

            </label>
            <label>arr</label>
          </div>
        </td>
        <td>
          array&lt;number&gt;
        </td>
        <td>

        </td>
        <td class="nowarp">
          必需
        </td>
        <td>
          [111,222]
        </td>
      </tr>
      </tbody>
    </table>
    <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
       <table>
          <tbody>
          <tr>
            <th>名称</th>
            <th>类型</th>
            <th>说明</th>
            <th>必需</th>
            <th>mock值</th>
          </tr>
          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.2rem;">
                </label>
                <label>text</label>
              </div>
            </td>
            <td>
              string
            </td>
            <td>
              测试接口返回字符串比较
            </td>
            <td class="nowarp">
              必需
            </td>
            <td>
              But&nbsp;what&nbsp;did&nbsp;he&nbsp;see
            </td>
          </tr>

          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.2rem;">

                </label>
                <label>num</label>
              </div>
            </td>
            <td>
              number
            </td>
            <td>
              测试接口返回数字比较
            </td>
            <td class="nowarp">
              必需
            </td>
            <td>
              31312
            </td>
          </tr>

          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.2rem;">

                </label>
                <label>bool</label>
              </div>
            </td>
            <td>
              boolean
            </td>
            <td>
              测试接口返回boolean比较
            </td>
            <td class="nowarp">
              必需
            </td>
            <td>
              true
            </td>
          </tr>

          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.2rem;">
                  <i class="fa pr5 fa-caret-down"></i>
                </label>
                <label>obj</label>
              </div>
            </td>
            <td>
              object
            </td>
            <td>

            </td>
            <td class="nowarp">
              必需
            </td>
            <td>

            </td>
          </tr>

          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.4rem;">

                </label>
                <label>demo</label>
              </div>
            </td>
            <td>
              string
            </td>
            <td>

            </td>
            <td class="nowarp">
              必需
            </td>
            <td>
              duckling
            </td>
          </tr>

          <tr>
            <td>
              <div class="flex middle">
                <label class="nowarp text-right" style="width: 0.2rem;">

                </label>
                <label>arr</label>
              </div>
            </td>
            <td>
              array&lt;number&gt;
            </td>
            <td>

            </td>
            <td class="nowarp">
              必需
            </td>
            <td>
              [111,222]
            </td>
          </tr>
          </tbody>
        </table> </textarea>
  </div>
</div>
<% include demo/footer/footer.ejs %>

</body>
</html>
