<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="/assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50" >
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - button</h2>
    <h2>使用</h2>
    <h4>默认button</h4>
    <div class="mt5 flex middle">
      <button class="button nowrap">默认按钮</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button">默认按钮</button>    </textarea>
    </div>

    <h4 class="mt50">禁用button</h4>
    <div class="mt5 flex middle">
      <button class="button nowrap" disabled="disabled">禁用按钮</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button" disabled="disabled">默认按钮</button>    </textarea>
    </div>

    <h4 class="mt50">button primary</h4>
    <div class="mt5 flex middle">
      <button class="button primary nowrap">button primary</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button primary">button primary</button>    </textarea>
    </div>

    <h4 class="mt50">button cyan</h4>
    <div class="mt5 flex middle">
      <button class="button cyan nowrap">button cyan</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button cyan">button cyan</button>    </textarea>
    </div>

    <h4 class="mt50">button success</h4>
    <div class="mt5 flex middle">
      <button class="button success nowrap">button success</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button success">button success</button>    </textarea>
    </div>

    <h4 class="mt50">button warning</h4>
    <div class="mt5 flex middle">
      <button class="button warning nowrap">button warning</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button warning">button warning</button>    </textarea>
    </div>

    <h4 class="mt50">button error</h4>
    <div class="mt5 flex middle">
      <button class="button error nowrap">button error</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button error">button error</button>    </textarea>
    </div>

    <h4 class="mt50">button weixin</h4>
    <div class="mt5 flex middle">
      <button class="button weixin nowrap">button weixin</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button weixin">button weixin</button>    </textarea>
    </div>

    <h4 class="mt50">button qq</h4>
    <div class="mt5 flex middle">
      <button class="button qq nowrap">button qq</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button qq">button qq</button>    </textarea>
    </div>

    <h4 class="mt50">button weibo</h4>
    <div class="mt5 flex middle">
      <button class="button weibo nowrap">button weibo</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button weibo">button weibo</button>    </textarea>
    </div>

    <h4 class="mt50">button primary border</h4>
    <div class="mt5 flex middle">
      <button class="button primary border nowrap">button primary border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button primary border">button primary border</button>    </textarea>
    </div>

    <h4 class="mt50">button cyan border</h4>
    <div class="mt5 flex middle">
      <button class="button cyan border nowrap">button cyan</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button cyan border">button cyan border</button>    </textarea>
    </div>

    <h4 class="mt50">button success border</h4>
    <div class="mt5 flex middle">
      <button class="button success border nowrap">button success border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button success border">button success border</button>    </textarea>
    </div>

    <h4 class="mt50">button warning border</h4>
    <div class="mt5 flex middle">
      <button class="button warning border nowrap">button warning border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button warning border">button warning border</button>    </textarea>
    </div>

    <h4 class="mt50">button error border</h4>
    <div class="mt5 flex middle">
      <button class="button error border nowrap">button error border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button error border">button error border</button>    </textarea>
    </div>

    <h4 class="mt50">button weixin border</h4>
    <div class="mt5 flex middle">
      <button class="button weixin border nowrap">button weixin border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button weixin">button weixin</button>    </textarea>
    </div>

    <h4 class="mt50">button qq border</h4>
    <div class="mt5 flex middle">
      <button class="button qq border nowrap">button qq border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button qq border">button qq border</button>    </textarea>
    </div>

    <h4 class="mt50">button weibo border</h4>
    <div class="mt5 flex middle">
      <button class="button weibo border nowrap">button weibo border</button>
      <textarea class="full input" rows="1" style="resize: none;border: none; background-color: #fff" readonly="readonly">
        <button class="button weibo border">button weibo border</button>    </textarea>
    </div>

  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
