<!DOCTYPE html>
<html>
<head>
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - tree</h2>
    <div>
      <b>【注意】</b>这里仅涉及tree样式。显示或隐藏需要您自己用js去控制。无论您用JQuery、angular、react还是vue，这都是非常简单的不是吗？
      <br>
      主要是定义了左边空白和图标的等宽。
    </div>
    <h3>使用</h3>
    <div id="tree-demo" class="tree">
      <div class="item">
        <a >
          <i class="fa fa-caret-down"></i>
          使用指南
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              入门
            </a>
          </div>
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              进阶
            </a>
          </div>
        </a>
      </div>
      <div class="item">
        <a >
          <i class="fa fa-caret-down"></i>
          服务支持
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              技术服务
            </a>
          </div>
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              商务合作
            </a>
          </div>
        </a>
      </div>
      <div class="item">
        <a >
          <i class="fa fa-caret-down"></i>
          联系我们
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              邮箱
            </a>
          </div>
          <div class="item">
            <a >
              <i class="fa fa-angle-right"></i>
              地址
            </a>
          </div>
        </a>
      </div>
    </div>

    <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
      <div id="tree-demo" class="tree">
        <div class="item">
          <a >
            <i class="fa fa-caret-down"></i>
            使用指南
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                入门
              </a>
            </div>
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                进阶
              </a>
            </div>
          </a>
        </div>
        <div class="item">
          <a >
            <i class="fa fa-caret-down"></i>
            服务支持
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                技术服务
              </a>
            </div>
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                商务合作
              </a>
            </div>
          </a>
        </div>
        <div class="item">
          <a >
            <i class="fa fa-caret-down"></i>
            联系我们
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                邮箱
              </a>
            </div>
            <div class="item">
              <a >
                <i class="fa fa-angle-right"></i>
                地址
              </a>
            </div>
          </a>
        </div>
      </div>
      <script>
        $(function(){
          $('#tree-demo > .item').click(function () {
            if($(this).find('.item').is(":hidden")){
              $(this).find('.item').show();
              $(this).find('i').addClass('fa-caret-down');
              $(this).find('i').removeClass('fa-caret-right');
            }else{
              $(this).find('.item').hide();
              $(this).find('i').removeClass('fa-caret-down');
              $(this).find('i').addClass('fa-caret-right');
            }
          });
          $('#tree-demo > .item .item').click(function (event) {
            event.stopPropagation();
          });
        });
      </script> </textarea>
  </div>
</div>
<% include demo/footer/footer.ejs %>

<script>
  $(function(){
    $('#tree-demo > .item').click(function () {
      if($(this).find('.item').is(":hidden")){
        $(this).find('.item').show();
        $(this).find('i').addClass('fa-caret-down');
        $(this).find('i').removeClass('fa-caret-right');
      }else{
        $(this).find('.item').hide();
        $(this).find('i').removeClass('fa-caret-down');
        $(this).find('i').addClass('fa-caret-right');
      }
    });
    $('#tree-demo > .item .item').click(function (event) {
      event.stopPropagation();
    });
  });
</script>
</body>
</html>
