<!DOCTYPE html>
<html>
<head>
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link href="assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//at.alicdn.com/t/font_3x9077zr8me7b9.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - cell</h2>
    <div>
      cell主要用于手机端输入的样式。
    </div>
    <h3>使用</h3>
    <h4>1. 基本用法</h4>
    <div class="mt5">
      <div class="cell">
        <label class="desc">昵称</label>
        <input placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">发送邮件</label>
        <label class="checkbox">
          <input type="checkbox"> 是
        </label>
      </div>
      <div class="cell">
        <label class="desc">收入</label>
        <select>
          <option value="1">年收入百万</option>
          <option value="2">年收入千万</option>
          <option value="3">年收入过亿</option>
        </select>
      </div>
    </div>
    <textarea class="input mt20 full" rows="18" style="resize: none;" readonly="readonly">
       <div class="cell">
        <label class="desc">昵称</label>
        <input placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">发送邮件</label>
        <label class="checkbox">
          <input type="checkbox"> 是
        </label>
      </div>
      <div class="cell">
        <label class="desc">收入</label>
        <select>
          <option value="1">年收入百万</option>
          <option value="2">年收入千万</option>
          <option value="3">年收入过亿</option>
        </select>
      </div></textarea>

    <h4>2. 输入填充整行</h4>
    <div class="mt5">
      <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">email</label>
        <input class="full" placeholder="请输入email">
      </div>
      <div class="cell">
        <label class="desc">微信</label>
        <input class="full" placeholder="请输入微信">
      </div>
    </div>
    <textarea class="input mt20 full" rows="12" style="resize: none;" readonly="readonly">
       <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">email</label>
        <input class="full" placeholder="请输入email">
      </div>
      <div class="cell">
        <label class="desc">微信</label>
        <input class="full" placeholder="请输入微信">
      </div></textarea>

    <h4>3. 带头像</h4>
    <div class="mt5">
      <div class="cell">
        <label class="desc">头像</label>
        <span class="full rel">
          <img src="http://www.i-dengta.com/image/58317b996025d71876709599.jpg?avatar=1&w=50&h=50">
          <span class="file">
            <input type="file">
            <span class="desc" >点击头像更换</span>
          </span>
        </span>
      </div>
      <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">微信</label>
        <input class="full" placeholder="请输入微信">
      </div>
    </div>
    <textarea class="input mt20 full" rows="18" style="resize: none;" readonly="readonly">
       <div class="cell">
        <label class="desc">头像</label>
        <span class="full rel">
          <img src="http://www.i-dengta.com/image/58317b996025d71876709599.jpg?avatar=1&w=50&h=50">
          <span class="file">
            <input type="file">
            <span class="desc" >点击头像更换</span>
          </span>
        </span>
      </div>
      <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">微信</label>
        <input class="full" placeholder="请输入微信">
      </div></textarea>

    <h4>4. 带ui-switch、下拉列表</h4>
    <div class="mt5">
      <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">开关</label>
        <div>
          <span class="ui-switch on success mr10" >
            <span class="desc">ON</span>
          </span>
          必须包装在其他标签下
        </div>
      </div>
      <div class="cell">
        <label class="desc">下拉列表</label>
        <div class="dropdown-container">
          <div class="pointer">点我下拉</div>
          <div class="dropdown">
            <div class="item">
              <a>我的主页</a>
            </div>
            <div class="item">
              <a>我的相册</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <textarea class="input mt20 full" rows="27" style="resize: none;" readonly="readonly">
       <div class="cell">
        <label class="desc">昵称</label>
        <input class="full" placeholder="请输入昵称">
      </div>
      <div class="cell">
        <label class="desc">开关</label>
        <div>
          <span class="ui-switch on success mr10" >
            <span class="desc">ON</span>
          </span>
          必须包装在其他标签下
        </div>
      </div>
      <div class="cell">
        <label class="desc">下拉列表</label>
        <div class="dropdown-container">
          <div class="pointer">点我下拉</div>
          <div class="dropdown">
            <div class="item">
              <a>我的主页</a>
            </div>
            <div class="item">
              <a>我的相册</a>
            </div>
          </div>
        </div>
      </div></textarea>
  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
