<!DOCTYPE html>
<html>
<head>
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link href="assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//at.alicdn.com/t/font_3x9077zr8me7b9.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - dropdown</h2>
    <h3>使用</h3>
    <h4>1. 默认</h4>
    <div class="dropdown-container mt5">
      <div class="pointer">点我下拉</div>
      <div class="dropdown">
        <div class="item">
          <a>我的主页</a>
        </div>
        <div class="item">
          <a>我的相册</a>
        </div>
      </div>
    </div>
    <textarea class="input mt20 full" rows="11" style="resize: none;" readonly="readonly">
      <div class="dropdown-container mt5">
        <div class="pointer">点我下拉</div>
        <div class="dropdown">
          <div class="item">
            <a>我的主页</a>
          </div>
          <div class="item">
            <a>我的相册</a>
          </div>
        </div>
      </div></textarea>

    <h4>2. 链接下拉</h4>
    <div class="dropdown-container mt5">
      <a>点我下拉</a>
      <div class="dropdown">
        <div class="item">
          <a>我的主页</a>
        </div>
        <div class="item">
          <a>我的相册</a>
        </div>
      </div>
    </div>
    <textarea class="input mt20 full" rows="11" style="resize: none;" readonly="readonly">
      <div class="dropdown-container mt5">
        <a>点我下拉</a>
        <div class="dropdown">
          <div class="item">
            <a>我的主页</a>
          </div>
          <div class="item">
            <a>我的相册</a>
          </div>
        </div>
      </div></textarea>

    <h4>3. button</h4>
    <div class="dropdown-container mt5">
      <button class="button primary">点我下拉</button>
      <div class="dropdown">
        <div class="item">
          <a>我的主页</a>
        </div>
        <div class="item">
          <a>我的相册</a>
        </div>
      </div>
    </div>
    <textarea class="input mt20 full" rows="11" style="resize: none;" readonly="readonly">
      <div class="dropdown-container mt5">
        <button class="button primary">点我下拉</button>
        <div class="dropdown">
          <div class="item">
            <a>我的主页</a>
          </div>
          <div class="item">
            <a>我的相册</a>
          </div>
        </div>
      </div></textarea>

  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
