<!DOCTYPE html>
<html>
<head>
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - panel</h2>
    <h3>使用</h3>
    <div>
      <div class="panel border">
        <div class="caption">这是panel caption</div>
        <div class="content">
          这里是panel content。默认最大宽度10rem（1000px）。居中。
          <br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="bottom">
          这里是panel bottom。
        </div>
      </div>
    </div>

    <div class="panel">
      <textarea class="input mt20 full" rows="10" style="resize: none;" readonly="readonly">
      <div class="panel border">
        <div class="caption">这是panel caption</div>
        <div class="content">
          这里是panel content。默认最大宽度10rem（1000px）。居中。
          <br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="bottom">
          这里是panel bottom。
        </div>
      </div>  </textarea>
    </div>

  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
