<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="/assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/component/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/component/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>组件 - 页面header</h2>
    <h3>使用效果</h3>
    参考本页面顶部蓝色长条。

    <textarea class="input mt20 full" rows="20" style="resize: none;" readonly="readonly">
     <div class="header">
      <div class="item">
        <a href="/"><img src="/assets/img/logo.png"> 乐吾乐UI</a>
      </div>
      <div class="item active">
        <a href="/go.html">开始</a>
      </div>
      <div class="item">
        <a href="/component.html">组件</a>
      </div>
      <div class="item">
        <a href="/custom.html">定制</a>
      </div>
      <div class="item full ph10">
        <div class="input" style="max-width: 3rem">
          <input>
          <i class="fa fa-search right"></i>
        </div>
      </div>
      <div class="item sign">
        <div class="user">
          <span style="padding: 0 .08rem">
            <img src="/assets/img/user.jpg">
            <label>小乐</label>
            <i class="fa fa-caret-down"></i>
          </span>
          <div class="dropdown">
            <div class="item">
              <a>我的主页</a>
            </div>
            <div class="item">
              <a>退出</a>
            </div>
          </div>
        </div>
      </div>
    </div></textarea>

  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
