<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
  <meta name="baidu-site-verification" content="PXhzvGJ9hu"/>
  <link href="/assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<% include demo/go/header.ejs %>
<div class="flex mt50" >
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/go/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>常用属性封装</h2>
    <b>src/base.css</b>定义了基本属性（类似reset）、常用属性的简写封装、公共基础类。<br>
    常用属性的简单封装有：<br>
    abs - position: absolute<br>
    rel - position: relative<br>
    fl  - float: left<br>
    fr  - float: right<br>
    fr  - float: right<br>
    inline、hidden、block、fixed、full、 ...<br>
    m5、m10、...、mt5、mt10、...、mr5、mr10、...等m（xx）、p（xx）格式类型。代表 margin、padding等。
    其中（xx）可以由您自己在postcss变量文件里面定制，参考demo/assets/variables.css。<br>
    ......<br><br>
    更多请查看源码 <a href="https://github.com/le5le-com/le5le-ui" target="_blank">https://github.com/le5le-com/le5le-ui</a><br>

  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
