<!DOCTYPE html>
<html>
<head>
  <title>乐吾乐 - UI</title>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

  <link href="assets/img/logo.ico" rel="shortcut icon" type="image/x-icon">
  <link href="//at.alicdn.com/t/font_3x9077zr8me7b9.css" rel="stylesheet">
</head>
<body>
<% include demo/go/header.ejs %>
<div class="flex mt50">
  <div class="pv20 border-right" style="min-width: 2rem">
    <% include demo/go/menu.ejs %>
  </div>
  <div class="p20 full">
    <h2>布局 - flex</h2>
    <div>
      css3的flex布局比传统grid更方便友好。缺点是老浏览器的兼容问题。 <br><br>
      flex本身，是非常强大的。目前，仅仅根据本项目要求，只做了很简单的基础封装（后续有需求在完善）。更多可以参考阮一峰的
      <a href="http://www.ruanyifeng.com/blog/2015/07/flex-grammar.html?utm_source=tuicool" target="_blank">Flex 布局教程</a>
      。
    </div>
    <h2>使用</h2>
    <h4>1. 自适应宽度从左到右排列</h4>
    <div>使用class: flex进行基本的flex布局。</div>
    <div class="flex mt5" style="color: #fff;">
      <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
      <div class="ph10 nowrap" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
      <div class="ph10 nowrap" style="width: 20%;line-height: 50px;background-color: #4caf50">宽度20%</div>
      <div class="ph10 full nowrap" style="line-height: 50px;background-color: #4dcc51">填满剩余</div>
    </div>
    <textarea class="input mt20 full" rows="6" style="resize: none;" readonly="readonly">
      <div class="flex" style="color: #fff;">
        <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
        <div class="ph10 nowrap" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
        <div class="ph10 nowrap" style="width: 20%;line-height: 50px;background-color: #4caf50">宽度20%</div>
        <div class="ph10 full nowrap" style="line-height: 50px;background-color: #4dcc51">填满剩余</div>
      </div></textarea>

    <h4>2. 自动换行</h4>
    <div>flex默认是不换行的。当使用 flex wrap组合时，才换行。</div>
    <div class="flex wrap" style="color: #fff;">
      <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
      <div class="ph10 nowrap" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
      <div class="ph10 nowrap" style="width: 20%;line-height: 50px;background-color: #4caf50">宽度20%</div>
      <div class="ph10 nowrap mt5" style="width: 100%;line-height: 50px;background-color: #4dcc51">宽度100%</div>
    </div>
    <textarea class="input mt20 full" rows="6" style="resize: none;" readonly="readonly">
      <div class="flex wrap" style="color: #fff;">
        <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
        <div class="ph10 nowrap" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
        <div class="ph10 nowrap" style="width: 20%;line-height: 50px;background-color: #4caf50">宽度20%</div>
        <div class="ph10 nowrap mt5" style="width: 100%;line-height: 50px;background-color: #4dcc51">宽度100%</div>
      </div> </textarea>
    <h4>3. 自动填充宽度</h4>
    <div>当左右两列固定， 中间自动填充时，可以给中间栏加上full类。</div>
    <div class="flex" style="color: #fff;">
      <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
      <div class="ph10 full" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
      <div class="ph10 nowrap" style="width: 200px;line-height: 50px;background-color: #4caf50">宽度200px</div>
    </div>
    <textarea class="input mt20 full" rows="5" style="resize: none;" readonly="readonly">
      <div class="flex" style="color: #fff;">
        <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
        <div class="ph10 full" style="line-height: 50px;background-color: #4dcc51">自生长宽度</div>
        <div class="ph10 nowrap" style="width: 200px;line-height: 50px;background-color: #4caf50">宽度200px</div>
      </div> </textarea>

    <h4>4. 垂直居中</h4>
    <div>flex middle</div>
    <div class="flex middle" style="color: #fff;">
      <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
      <div class="ph10 full" style="line-height: 100px;background-color: #4dcc51">自生长宽度</div>
      <div class="ph10 nowrap" style="width: 200px;line-height: 50px;background-color: #4caf50">宽度200px</div>
    </div>
    <textarea class="input mt20 full" rows="5" style="resize: none;" readonly="readonly">
      <div class="flex middle" style="color: #fff;">
        <div class="ph10 nowrap" style="width: 100px;line-height: 50px;background-color: #4caf50">宽度100px</div>
        <div class="ph10 full" style="line-height: 100px;background-color: #4dcc51">自生长宽度</div>
        <div class="ph10 nowrap" style="width: 200px;line-height: 50px;background-color: #4caf50">宽度200px</div>
      </div> </textarea>
  </div>
</div>
<% include demo/footer/footer.ejs %>
</body>
</html>
