<footer>
  <div class="copyright mt5">
    Copyright© le5le。 <br>
    Email: alsmile123@qq.com
  </div>
</footer>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script>
  var path = window.location.href.substring(window.location.href.lastIndexOf('/'));
  console.info(path)
  $(function(){
    $('.tree .item>a').each(function () {
      if ($(this).attr('href') === path) $(this).addClass('active');
      else $(this).removeClass('active');
    });
  });
</script>
