.box {
  display: inline-flex;
  flex-direction: column;
  width: $box-width;
  height: calc($box-width*$box-aspect-ratio);
  border: 1px solid $color-border!important;
}

.box .content {
  flex-grow: 1;
  padding: .1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .bottom {
  line-height: .3rem;
  background-color: $color-lightgray;
  text-align: center;
  overflow: hidden;
}

.box.dash {
  border-style: dashed!important;
}
