.cell {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  line-height: .4rem;
}

.cell .desc {
  width: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.cell .full {
  flex-shrink: 1;
  flex-grow: 1;
}

.cell input, .cell select {
  outline: none;
  border: none;
  padding: 0;
  vertical-align: middle;
}

.cell input[type="checkbox"] {
  width: inherit;
}

.cell select {
  outline: none;
  border: none;
  vertical-align: middle;
}

.cell img {
  height: .5rem;
}

.cell .file .desc{
  color: $color-desc;
  position: relative;
  left: .1rem;
  top: -.2rem;
}

.cell .file input[type="file"]{
  position: absolute;
  left: 0;
  opacity: 0;
  width: .5rem;
  height: .5rem;
  float: right;
  cursor: pointer;
}

.cell .ui-switch {
  position: relative;
  top: -.02rem;
}

.cell .ui-switch .desc{
  width: 50%;
}
