.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.middle {
  align-items: center ;
}

.flex .full {
  flex-grow: 1;
}

.flex.grid>div {
  flex-grow: 1;
}
