@keyframes topFadeIn {
  0% {
    top: -.5rem;
  }
  100% {
    top: 0;
  }
}

@keyframes topFadeOut {
  0% {
    top: 0;
  }
  100% {
    top: -5rem;
  }
}

.notice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  color: #fff;
  text-align: center;
  font-size: .14rem;
}

.notice.in {
  animation-duration: .2s;
  animation-name: topFadeIn;
}

.notice.out {
  animation-duration: 1s;
  animation-name: topFadeOut;
}

.notice.success {
  background-color: #4caf50;
}

.notice.warning {
  background-color: #ffc107;
}
.notice.error {
  background-color: #f33;
}
.notice.info {
  background-color: #fb8c00;
}

.notice .body {
  padding: .1rem;
}

.notice div.input {
  border: none;
  padding: 0;
}

.notice input {
  width: 100%;
  border: none;
  outline: none;
  color: #555;
  text-align: center;
  line-height: 2;
}

.notice.background {
  z-index: 9999;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.notice .footer button {
  font-size: .14rem;
  border: none;
  outline: none;
  width: 100%;
  line-height: 2.5;
}

.notice .footer button.ok {
  width: 50%;
  background-color: #57BF57;
}

.notice .footer button.cancel {
  width: 50%;
  background-color: #f33;
}
