.panel {
  max-width: $panel-width;
  margin: auto;
}

.panel>.caption {
  font-size: .2rem;
  padding: .05rem .1rem;
  border-bottom: 1px solid $color-lightgray;
}

.panel>.content {
  padding: .1rem;
}

.panel>.bottom {
  padding: .05rem .1rem;
  border-top: 1px solid $color-lightgray;
}
