table {
  border-spacing: 0;
}

tr th {
  text-align: left;
  padding:  .05rem .12rem;
  border: 1px solid color($color-border a(80%));
  border-right: none;
}

tr th:last-child, tr td:last-child {
  border-right: 1px solid color($color-border a(80%));
}

tr td {
  text-align: left;
  padding:  .05rem .12rem;
  border-left: 1px solid color($color-border a(80%));
  border-bottom: 1px solid color($color-border a(80%));
}

td.td-input{
  padding: 0;
}

td.td-input:hover{
  outline: 1px solid color($color-input-border-hover a(70%));
}

td.td-input .input{
  border: none;
  resize: none;
  background: transparent;
  outline: none;
  border: none!important;
}
