.tree {
  flex-grow: 0;
  flex-shrink: 0;
  padding-top: .1rem;
  overflow: auto;
}

.tree .item{
  display: block;
  padding: .05rem $tree-indent;
}

.tree .item a{
  color: $color;
}

.tree .item i {
  width: .15rem;
}

.tree .item.active, .tree .item.active a, .tree .item a.active, .tree .item:hover {
  color: $color-url-hover;
}

.tree .item.flex{
  display: flex;
}

.tree .item.small{
  padding-top: .07rem;
  padding-bottom: .07rem;
}
